{% extends 'base.html' %}


{% block content %}
{% if questions %}
<center><h1>Question {{ questions.end_index }} of  {{count}}</h1></center>
<div class="col-lg-8 border border-success p-4 m-4 mx-auto">
          {% for i in questions%}
          <h1>{{i.question}}</h1>
          <form>
              <div class="radio">
              <label><input type="radio" name="name"  id="option1" value="{{i.option1}}">{{i.option1}} </label> 
              </div>
              <div class="radio">
              <label > <input type="radio" name="name"  id="option2" value="{{i.option2}}">{{i.option2}}</label>
            </div>
            <div class="radio">
              <label ><input type="radio" name="name" id="option3" value="{{i.option3}}">{{i.option3}}</label>
            </div>
              <div class="radio">
              <label ><input type="radio" name="name"  id="option4" value="{{i.option4}}">{{i.option4}} </label>
          </div>
      </form>
          {%endfor%}
          <div class="form-group">
              <button class="btn  btn-success" id="save_ans">Submit Answer</button>
          </div>
          <div class="paginetor">
            <div class="form-group">
              {%  if questions.has_next %}
              <a href="?page={{ questions.next_page_number }}"><button class="btn form-control btn-primary" id="submitAnswer">Next</button></a>
            {% else %}
              <a href="result/"><button class="btn form-control btn-success" id="submitAnswer">Submit Quiz</button></a>  
            {% endif %} 
            </div>
            </div>  
        </div>
        {% else %}
        <h1>Error</h1>
        {% endif %}
                  <script>
                  window.onload = initall;
                  var  saveBookButton ;
                  function initall() {
                  saveBookButton=document.getElementById('save_ans')
                  saveBookButton.onclick = save_ans;
                  }
                  function save_ans() {
                  var ans = $("input:radio[name=name]:checked").val()
                  alert("answer submited go next")
                  var url = 'save_ans?ans='+ans
                  var req = new XMLHttpRequest();
                  req.onreadystatechange = function() {
                  if (this.readyState == 4 && this.status == 200) {
                  //  alert(req.responseText)
                  }
                };
                req.open("GET", url, true);
                req.send();
              }
                </script>
                <script src="{% static 'script.js' %}"></script>
                <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
                <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>    
                {% endblock %}