<!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Welcome to Quiz App</title>
            <style>
                a {
            width: 15%;
            height: 5%;
            background-color: rgb(243, 234, 234);
            position: relative;
            top:0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }
            </style>
        </head>
        <body>
            {% if t %}
                {% for i in t %}
                <h1>Upcomming contest Or ongoing test</h1>
                <a href="{{i.test_name}}/quiz/">Click here to start test</a>
                {{i.test_name}}
                {% endfor %}
            {% else %}
            <h2>No Quize Avilable</h2>
            {% endif %}
        </body>
        </html>